<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head.ejs %>
</head>
<body>
<header>
    <% include ./partial/header.ejs %>
</header>
<main>
<!-- https://www.sporttribe.fr/ -->
</main>

<footer>
    <% include ./partial/footer.ejs %>
</footer>
</body>
<% include ./partial/script_index.ejs %>
</html>
