<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sporttribe</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=5.0"/>
</head>
<body>

<header>

</header>

<nav>

</nav>
<section>
    <article>
        <p>article</p>
    </article>
    <article>
        <p>article</p>
    </article>
    <article>
        <p>article</p>
    </article>
    <article>
        <p>article</p>
    </article>
    <article>
        <p>article</p>
    </article>
    <article>
        <p>article</p>
    </article>
</section>
<footer>

</footer>

</body>
</html>