<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head.ejs %>
</head>
<body>
<header>
    <% include ./partial/header.ejs %>
</header>

<nav class="main">
    <ul>
        <li>1er sport</li>
        <li>2eme sport</li>
        <li>3eme sport</li>
    </ul>
</nav>
<main>
    <div class = "activitee" >
        <a href="./event/0">
            <img src="/public/img/sport/bad_icon.png" alt="badminton">
            <h2>tournois bad</h2>
            <p class="date">18 aout 2019</p>
            <p class ="descrition">tournois</p>
            <p>EDHEC</p>
            <input type="button" value ="s\' inscrire">
            </a>
        </div>
    <div class = "activitee" >
        <a href="./event/0">
            <img src="/public/img/sport/bad_icon.png" alt="badminton">
            <h2>tournois bad</h2>
            <p class="date">18 aout 2019</p>
            <p class ="descrition">tournois</p>
            <p>EDHEC</p>
            <input type="button" value ="s\' inscrire">
        </a>
    </div>
    <div class = "activitee" >
        <a href="./event/0">
            <img src="/public/img/sport/bad_icon.png" alt="badminton">
            <h2>tournois bad</h2>
            <p class="date">18 aout 2019</p>
            <p class ="descrition">tournois</p>
            <p>EDHEC</p>
            <input type="button" value ="s\' inscrire">
        </a>
    </div>
</main>

<footer>
    <% include ./partial/footer.ejs %>
</footer>
</body>
    <% include ./partial/script_index.ejs %>
</html>
