<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head.ejs %>
</head>
<body>
<header>
    <% include ./partial/header.ejs %>
</header>

<nav class="main">
    <ul>
        <li>1er sport</li>
        <li>2eme sport</li>
        <li>3eme sport</li>
    </ul>
</nav>
<main>

    <h1><%= message.title %></h1>
    <p class="<%= message.class %>"><%= message.p %></p>
</main>

<footer>
    <% include ./partial/footer.ejs %>
</footer>
</body>
</html>
