<nav>
    <button class="nav-small"><i class="fas fa-bars"></i></button>
    <ul>
        <li class="hidden">
            <a href="/profil">
                <span>Profile</span>
                <i class="fas fa-user"></i>
            </a>
        </li>
        <li class="hidden">
            <a href="/event">
                <span >Evenements</span>
                <i class="far fa-calendar-alt"></i>
            </a>
        </li>
        <li class="hidden">
            <a href="/group">
                <span>Groupes</span>
                <i class="fas fa-users"></i>
            </a>
        </li>
        <li class="hidden">
            <a href="/login">
                <span>Connexion</span>
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
        <li class="hidden">
            <a href="/login/off" class="hidden">
                <span>Deconnexion</span>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="logo">
    <a href="/">
        <img src="/public/img/logo_header.png" alt="Accueil">
    </a>
</div>
<div class=""
<form class="search">
    <input type="text" placeholder="Search.." name="search">
    <i class="fas fa-search">
</form>